{% extends 'base.html.twig' %}

{% block body %}
    <h1>Facility Reservation Fee</h1>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Facility</th>
                <th>Fee Per Hour</th>
                <th>Maintenance Fee</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% set cnt = 1 %}
        {% for reservation_fee in reservation_fees %}
            <tr>
                <td>{{ cnt }}</td>
                <td>{{ reservation_fee.facility }}</td>
                <td>{{ reservation_fee.feePerHour }}</td>
                <td>{{ reservation_fee.maintenanceFee }}</td>
                <td>
                    <a href="{{ path('reservation_fee_show', {'id': reservation_fee.id}) }}">show</a>
                    <a href="{{ path('reservation_fee_edit', {'id': reservation_fee.id}) }}">edit</a>
                </td>
            </tr>
            {% set cnt = cnt + 1 %}
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reservation_fee_new') }}">Create new</a>
{% endblock %}
