{% extends 'base.html.twig' %}

{% block body %}
    <h1>Facility Reservation Fee</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Facility</th>
                <td>{{ reservation_fee.facility }}</td>
            </tr>
            <tr>
                <th>Fee Per Hour</th>
                <td>{{ reservation_fee.feePerHour }}</td>
            </tr>
            <tr>
                <th>Maintenance Fee</th>
                <td>{{ reservation_fee.maintenanceFee }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('reservation_fee_index') }}">back to list</a>

    <a href="{{ path('reservation_fee_edit', {'id': reservation_fee.id}) }}">edit</a>

    <!-- {{ include('reservation_fee/_delete_form.html.twig') }} -->
{% endblock %}
