{% extends 'base.html.twig' %}

{% block body %}
    <h1>Business Type</h1>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Business Type</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% set cnt = 1 %}
        {% for business_type in business_types %}
            <tr>
                <td>{{ cnt }}</td>
                <td>{{ business_type.businessTypeName | title }}</td>
                <td>{{ business_type.businessTypeDescription | title }}</td>
                <td>
                    <a href="{{ path('business_type_show', {'id': business_type.id}) }}">show</a>
                    <a href="{{ path('business_type_edit', {'id': business_type.id}) }}">edit</a>
                </td>
                {% set cnt = cnt + 1 %}
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('business_type_new') }}">Create new</a>
{% endblock %}
